@b content {
  @e bd {
    min-height: 650px;
  }
  @e ft {
    text-align: center;
  }
}

@b m-list {
  @e item {
    width: 33.3%;
    padding-left: 20px;
    margin-bottom: 70px;
  }
  @e img {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 172px;
    cursor: pointer;
    transition: background-size .5s;
    &:hover {
      background-size: auto 105%;
    }
  }
  @e name {
    font-size: 16px;
    margin-top: 12px;
    line-height: 24px;
  }
}

@b modal {
  padding: 0 20px 10px 20px;
  @e left {
    width: 480px;
  }
  @e img {
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @e right {
    width: 320px;
    padding: 18px 50px 0 33px;
  }
}

@b detail {
  @e name {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 28px;
  }
  @e ul {
    font-size: 12px;
    line-height: 48px;
    border-bottom: 1px solid #e6e6e6;
  }
  @e desc {
    margin-top: 24px;
    line-height: 24px;
    color: #666;
    font-size: 12px;
  }
}
