@import '../../tools.css';
@b design {}

@b cartography {
  padding-top: 140px;
  @e video {
    margin-top: 120px;
  }
}

@b space {
  padding-top: 130px;
  padding-bottom: 160px;
  @e img {
    margin-top: 120px;
  }
}

@b taste {
  padding-top: 4%;
  color: #fff;
}

@b detail {
  padding-top: 140px;
  padding-bottom: 240px;
  @e img {
    margin-top: 80px;
  }
}

@b light {
  color: #fff;
  padding-top: 38%;
}

@b budget {
  padding-top: 170px;
  padding-bottom: 220px;
  @e img {
    margin-top: 120px;
  }
}
