@import '../tools.css';

@b inspiration {
  padding-top: 60px;
  @e ft{
    border-top:1px solid var(--color-border);
    padding:40px 0;
    text-align:center;
  }
}

@b imgs{
  padding-top:30px;
  padding-bottom:30px;
  @e item{
    cursor:pointer;
    width:50%;
    min-height:150px;
    margin-bottom:20px;
    padding:0 20px;
  }
  @e img-ratio{
    background-color:#999;
    padding-top:58%;
    overflow:hidden;
    position:relative;
  }
  @e img-content{
    @mixin overlay;
    img{
      width:100%;
    }
  }
}
