:root {
  --color-white: #fff;
}

@b find {
  @e content {
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    text-align: center;
    color: #fff;
    padding-top: 8%;
    h2 {
      font-size: 36px;
      margin-bottom: 24px;
    }
    h4 {
      font-size: 24px;
      line-height: 1.75;
    }
    a {
      margin-top: 55px;
    }
  }
  @e day {
    color: #eb182d;
  }
}

@b footer {
  background-color: #2c2c2f;
  color: var(--color-white);
  font-size: 12px;
  @e nav {
    padding-top: 32px;
    padding-bottom: 22px;
  }
  @e list {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    line-height: 25px;
  }
  @e list-title {
    color: var(--color-white);
    margin-bottom: 10px;
    font-size: 14px;
  }
  @e item {}
  @e phone {
    font-size: 24px;
  }
  @e copy-right {
    padding: 12px 0;
    border-top: 1px solid color(var(--color-white) alpha(.1));
    span {
      opacity: .5;
    }
  }
}
