:root {
  --color-border: #e1e1e1;
}

@b header {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid var(--color-border);
  line-height: 80px;
  vertical-align: top;
  &[not-fixed] {
    position: absolute;
  }
  @e logo {
    line-height: 1;
    vertical-align: middle;
  }
  @e nav {
    float: right;
  }
  @e links {}
  @e link {
    position: relative;
    font-size: 14px;
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
    &:not(:first-child) {
      margin-left: 20px;
    }
    &:hover {
      box-shadow: 0 0 18px rgba(0, 0, 0, .2);
    }
    &:hover>.header__dropdown {
      transform: scaleY(1);
    }
    a.active {
      color: rgba(0, 0, 0, .4);
    }
  }
  @e dropdown {
    padding: 8px 0;
    position: absolute;
    text-align: center;
    line-height: 32px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, .2);
    background-color: #fff;
    white-space: nowrap;
    left: 50%;
    margin-left: -60px;
    transition: transform .3s;
    transform: scaleY(0);
    transform-origin: center top;
    a {
      width: 120px;
      background-image: radial-gradient(#f0f0f0 0%, #f0f0f0 50%, #fff 50%, #fff 100%);
      background-position: center center;
      background-size: 0 0;
      background-repeat: no-repeat;
      transition: all .5s ease-out;
    }
    a:hover {
      background-size: 200px 200px;
    }
  }
}
