@import './tools.css';
.modal-wrapper {
  @mixin overlay;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

@b Modal {
  z-index: 2;
  background-color: #fafafa;
  border-radius: 2px;
  min-width: 300px;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
  @e hd {
    padding: 20px 10px;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  @e title {
    float: left;
  }
  @e tools {
    float: right;
  }
  @e icon {
    float: right;
    margin-right: 10px;
    cursor: pointer;
    &:hover {
      color: #008489;
    }
  }
  @e content {
    padding: 10px;
    min-height: 100px;
    position: relative;
  }
}
