@b TabHeader {
  border-bottom: 1px solid #e2e2e2;
  height: 60px;
  background-color:color(#fff alpha(.2));
  @e title {
    font-size: 24px;
    color: #333;
  }
  @e tab {
    padding: 4px;
    border-radius: 2px;
    margin-left: 32px;
    cursor: pointer;
    &:hover,
    &.active {
      color: #fff;
      background-color: #ed182a;
      transition: all .3s;
    }
  }
}
