/*页面过渡*/

.page-leave-active,
.page-enter-active {
  transition: opacity .1s;
}

.page-enter,
.page-leav-active {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s;
  will-change: opacity;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.modal-enter-active,
.modal-leave-active {
  transition: all .5s;
  opacity: 1;
  transform: translate3d(0, 0, 0) scaleX(1);
  will-change: opacity, transform;
}

.modal-enter,
.modal-leave-active {
  opacity: 0;
  transform: translate3d(0, 30%, 0) scaleX(.7);
}

.slide-top-enter {
  transform: translate3d(0, 50%, 0);
}

.slide-top-enter-active {
  transition: all .3s;
}
