/*页面过渡*/
.page-leave-active,
.page-enter-active {
  transition: all .5s;
}

.page-enter,
.page-leav-active {
  opacity: 0;
}


.fade-enter-active,
.fade-leave-active {
  transition: all .3s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.slide-top-enter{
  transform:translate3d(0,50%,0);
}
.slide-top-enter-active{
  transition:all .3s;
}
