@import '../../tools.css';
@b vrlist {
  padding-top: 60px;
  @e bd {}
  @e ft {
    text-align: center;
    padding: 40px 0;
  }
}

@b imgs {
  padding-top: 30px;
  padding-bottom: 30px;
  a {
    display: initial;
  }
  @e item {
    width: 540px;
    cursor: pointer;
    margin-bottom: 20px;
    &:nth-child(even) {
      margin-left: 40px;
    }
  }
  @e img {
    height: 315px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .1);
  }
  @e loader {
    position: relative;
    text-align: center;
    padding-top: 25%;
    z-index: -1;
  }
  @e name {
    margin-top: 8px;
    line-height: 18px;
    font-size: 15px;
    font-weight: bold;
  }
}
