@import '../../tools.css';
@b vrlist {
  padding-top: 60px;
  @e bd {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @e ft {
    text-align: center;
    padding: 40px 0;
  }
}

@b imgs {
  a {
    display: initial;
  }
  @e item {
    width: 540px;
    cursor: pointer;
    margin-bottom: 20px;
    position: relative;
    &:nth-child(even) {
      margin-left: 40px;
    }
    &:hover {
      .imgs__vr {
        color: var(--color-primary);
      }
    }
  }
  @e content {
    height: 315px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .1);
  }
  @e loader {
    position: relative;
    text-align: center;
    padding-top: 28%;
    z-index: -1;
  }
  @e name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-image: linear-gradient(to right, transparent 0%, color(#000 alpha(.5)) 50%, transparent 100%);
  }
  @e vr {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 36px;
    color: var(--color-text);
    transition: all .3s;
  }
}
