*, *:before, *:after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font: 14px/1 "Source Han Sans SC", "HanHei SC", "PingFang SC", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "Arial", sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.z-depth-1, .z-hover-1:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.z-depth-2, .z-hover-2:hover {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.z-depth-3, .z-hover-3:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.z-hover-1, .z-hover-2, .z-hover-3 {
  -webkit-transition: box-shadow .5s;
  transition: box-shadow .5s;
  cursor: pointer;
}

/*页面过渡*/

.page-leave-active, .page-enter-active {
  -webkit-transition: opacity .1s;
  transition: opacity .1s;
}

.page-enter, .page-leav-active {
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}

.slide-top-enter {
  -webkit-transform: translate3d(0, 50%, 0);
          transform: translate3d(0, 50%, 0);
}

.slide-top-enter-active {
  -webkit-transition: all .3s;
  transition: all .3s;
}

[container] {
  position: relative;
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

[grid] {
}

[grid]:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

[grid]>* {
  display: inline-block;
  vertical-align: top;
}

[grid*='middle']>* {
  vertical-align: middle;
}

[grid*='center'] {
  text-align: center;
}

[grid*='2']>[col] {
  width: 50%;
}

[col*='right'] {
  text-align: right;
}

#app ._tr {
  text-align: right;
}

.Btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .5em 1.5em;
  -webkit-transition: all .3s;
  transition: all .3s
}

.Btn.-white {
  border: 1px solid #fff;
}

.Btn.-white:hover {
  background-color: #fff;
  color: #000;
}

.Btn.-black {
  border: 1px solid #747474;
  color: #333;
}

.Btn.-black:hover {
  background-color: rgba(0,0,0,.9);
  border-color: rgba(0.0,0,.9);
  color: #fff;
}

.Link {
  color: #fff;
  opacity: 0.5;
  -webkit-transition: all .3s;
  transition: all .3s
}

.Link:hover {
  text-decoration: underline;
  opacity: 1;
}

@b ResponsiveBlock {
  position: relative;
  min-width: 1200px;
  @e img {
    width: 100%;
    vertical-align: top;
  }
  @e content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
