@b loan {
  @e title {
    font-size: 48px;
  }
  @e desc {
    font-size: 18px;
    line-height: 2;
    margin-top: 40px;
  }
}

@b top {
  text-align: center;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  color: #fff;
  @e btn {
    margin-top: 30px;
  }
}
