@import '../tools.css';
.us__child {
  padding-top: 60px;
  text-align: center;
}

@b team {
  text-align: left;
  @e item {
    @mixin bgCover;
    width: 250px;
    height: 330px;
    background-color: #999;
    margin: 20px;
    cursor: pointer;
  }
}
