@b assemble {}

@b assemble-main {
  text-align: center;
  padding-top: 190px;
  padding-bottom: 175px;
  @e title {
    font-size: 48px;
  }
  @e desc {
    font-size: 18px;
    margin-top: 30px;
  }
  @e price {
    display: inline-block;
    padding: 12px 26px;
    border: 1px solid;
    margin-top: 30px;
  }
}

@b assemble-sub {
  color: #fff;
  text-align: center;
  padding-top: 25%;
  @e title {
    font-size: 36px;
  }
  @e desc {
    margin-top: 50px;
    font-size: 16px;
    line-height: 30px;
  }
}

@b assemble-space {
  min-width: 1200px;
  padding-bottom: 180px;
  @e img {
    width: 53%;
  }
  @e intro {
    width: 47%;
    padding-top: 5%;
  }
  @e title {
    font-size: 36px;
  }
  @e desc {
    font-size: 16px;
    margin-top: 60px;
    line-height: 28px;
    width: 400px;
  }
  @e intro-content {
    display: inline-block;
  }
  &.-first {
    padding-top: 220px;
  }
  &.-right {
    .assemble-space__intro {
      padding-left: 120px;
    }
  }
  &.-left {
    .assemble-space__intro {
      text-align: right;
      padding-right: 120px;
    }
    .assemble-space__title {
      text-align: left;
    }
    .assemble-space__desc {
      text-align: left;
    }
  }
}

@b assemble-ft {
  color: #fff;
  text-align: center;
  padding-top: 20%;
  h2 {
    font-size: 32px;
    margin-bottom: 50px;
  }
  p {
    font-size: 18px;
    line-height: 36px;
  }
}

@b assemble-bg {
  position: relative;
  min-width: 1200px;
  @e img {
    position: absolute; // opacity: .5;
    z-index: -1;
  }
}
