@import '../assets/css/src/tools/mixins.css';
@b banner {
  position: relative;
  min-width: 1200px;
  @e placeholder {
    width: 100%;
  }
  @e slide {
    @mixin overlay;
    background-color: color(#000 alpha(.3));
  }
  @e slide-item {
    height: 100%;
    text-align: center;
    color: #fff;
    h1 {
      font-size: 56px;
      margin-bottom: 60px;
    }
    h3 {
      font-size: 22px;
      font-weight: 300;
      line-height: 1.7;
    }
    a {
      margin-top: 44px;
    }
  }
}

@b feature {
  margin: 140px auto;
  text-align: center;
  h1 {
    font-size: 48px;
    margin-bottom: 30px;
  }
  h3 {
    font-size: 18px;
    line-height: 2;
  }
}

@b video {
  @e wrap {
    transform-origin: top center;
    transition: transform .3s;
    position: relative;
    cursor: pointer;
  }
  @e placeholder {
    @mixin overlay;
    &[active]:before,
    &[active]:after {
      opacity: 0;
    }
    &:after {
      content: "";
      @mixin rightTriangle 25,
      40,
      #fff;
      @mixin absCenter;
      left: 12px;
      transition: opacity .5s;
    }
    &:before {
      content: "";
      @mixin absCenter;
      @mixin circle 85px;
      background-color: rgba(0, 0, 0, .5);
      transition: opacity .5s;
    }
  }
  @e el {
    width: 100%;
  }
  @e control {}
  @e timeline {
    margin-top: 30px;
    position: relative;
    img {
      width: 100%;
    }
  }
  @e timeline-progress {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    min-width: 1%;
    img {
      width: 1180px;
    }
  }
  @e pins {
    width: 1280px;
    margin-left: -50px;
    padding: 20px 0;
  }
  @e pin {
    width: 100px;
    margin: 0 68px;
    text-align: center;
    position: relative;
    cursor: pointer;
    &:hover {
      .video__pin-img {
        transition: opacity .3s;
        opacity: 0.65;
      }
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
      cursor: default;
    }
  }
  @e pin-img {
    width: auto;
    height: 36px;
    margin-bottom: 10px;
  }
}

@b beauty {
  margin-top: 190px;
  background-color: #a0b3b7;
  min-width: 1200px;
  @e desc {
    color: #fff;
    padding-left: 120px;
    h1 {
      font-size: 48px;
      margin-bottom: 60px;
    }
    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

@b standard {
  position: relative;
  @e mask {
    position: absolute;
    width: 428px;
    height: 480px;
    background-color: #f8f8f8;
    z-index: -1;
  }
  @e content {
    position: absolute;
    width: 330px;
    h2 {
      font-size: 36px;
      margin-bottom: 65px;
    }
    p {
      line-height: 1.7;
      color: #666;
    }
    a {
      margin-top: 55px;
    }
  }
  @e number {
    position: absolute;
    z-index: -1;
  }
  &.-design {
    margin-top: 300px;
    .standard__img {
      margin-left: -140px;
    }
    .standard__number {
      left: 40px;
      top: -120px;
    }
    .standard__mask {
      left: 550px;
      top: -15px;
    }
    .standard__content {
      left: 835px;
      top: 65px;
    }
  }
  &.-quality {
    margin-top: 379px;
    text-align: right;
    .standard__img {
      position: relative;
      left: 40px;
    }
    .standard__number {
      right: 50px;
      top: -180px;
    }
    .standard__mask {
      left: 200px;
      top: -60px;
    }
    .standard__content {
      text-align: left;
      left: 40px;
      top: 10px;
    }
  }
  &.-material {
    margin-top: 400px;
    .standard__img {}
    .standard__number {
      left: 0;
      top: -200px;
    }
    .standard__mask {
      left: 500px;
      top: -80px;
    }
    .standard__content {
      left: 820px;
      top: -20px;
    }
  }
}

@b idx-line {
  position: absolute;
  display: inline-block;
  color: #999;
  width: 40%;
  min-width: 375px;
  &:before,
  &:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-color: #999;
  }
  &.-left {
    left: 0;
    &:before {
      width: 90%;
      height: 1px;
      margin-right: 10px;
    }
  }
  &.-right {
    right: 0;
    &:after {
      width: 90%;
      height: 1px;
      margin-left: 10px;
    }
  }
  &.-first {
    margin-top: 90px;
  }
  &.-second {
    margin-top: 53px;
  }
  &.-third {
    margin-top: 200px;
  }
}

@b service {
  margin-top: 400px;
  background-color: #f7f7f7;
  position: relative;
  overflow: hidden;
  padding-top: 185px;
  padding-bottom: 140px;
  text-align: center;
  &:before {
    content: "SINO FO";
    position: absolute;
    top: 0;
    left: 50%;
    padding-top: 100px;
    transform: translateX(-50%);
    font-weight: 800;
    color: #f2f2f2;
    font-size: 500px;
    white-space: nowrap;
  }
  h1 {
    font-size: 48px;
    font-weight: 500;
  }
  @e list {
    margin-top: 110px;
  }
  @e item {
    width: 260px;
    background-color: #fff;
    margin: 0 12px;
    padding: 48px 30px 55px;
    h3 {
      font-size: 24px;
      margin-top: 28px;
    }
    p {
      margin-top: 20px;
      color: #999;
      line-height: 1.7;
      min-height: 70px;
    }
  }
  @e icon {
    @mixin size 90px;
  }
  @e arrow {
    margin-top: 40px;
    @mixin size 40px;
  }
}
