@import '../assets/css/src/tools/mixins.css';
@b banner {
  position: relative;
  @e placeholder {
    width: 100%;
  }
  @e slide {
    @mixin overlay;
    background-color: color(#000 alpha(.3));
  }
  @e slide-item {
    height: 100%;
    text-align: center;
    color: #fff;
    h1 {
      font-size: 56px;
      margin-bottom: 60px;
    }
    h3 {
      font-size: 22px;
      font-weight: 300;
      line-height: 1.7;
    }
    a {
      margin-top: 44px;
    }
  }
}

@b feature {
  margin: 140px auto;
  text-align: center;
  h1 {
    font-size: 48px;
    margin-bottom: 30px;
  }
  h3 {
    font-size: 18px;
    line-height: 2;
  }
}

@b video {
  @e wrap {
    transform-origin: top center;
    transition: transform .3s;
    position: relative;
    cursor: pointer;
  }
  @e placeholder {
    @mixin overlay;
    &[active]:before,
    &[active]:after {
      opacity: 0;
    }
    &:after {
      content: "";
      @mixin rightTriangle 25,
      40,
      #fff;
      @mixin absCenter;
      left: 12px;
      transition: opacity .5s;
    }
    &:before {
      content: "";
      @mixin absCenter;
      @mixin circle 85px;
      background-color: rgba(0, 0, 0, .5);
      transition: opacity .5s;
    }
  }
  @e el {
    width: 100%;
  }
  @e control {}
  @e timeline {
    margin-top: 40px;
    position: relative;
    img {
      width: 100%;
    }
  }
  @e timeline-progress {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    min-width: 1%;
    img {
      width: 1180px;
    }
  }
}
