@b view-point {
  @e child {
    padding-top: 60px;
  }
}

@import '../tools.css';
@b view-point {
  background-color: var(--color-bg);
  @e content {
    padding-top: 60px;
  }
  @e list {
    padding-top: 10px;
    padding-bottom: 80px;
  }
}
