[container] {
  position: relative;
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

[grid] {
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  &>* {
    display: inline-block;
    vertical-align: top;
  }
}

[grid*='middle']>* {
  vertical-align: middle;
}

[grid*='center'] {
  text-align: center;
}

[grid*='2']>[col] {
  width: 50%;
}

[col*='right'] {
  text-align: right;
}
