@b america {
  @e bg1 {
    right: 0;
    bottom: 40%;
    width: 20%;
  }
  @e bg2 {
    width: 15%;
    top: 10%;
  }
  @e bg3 {
    right: 0;
    width: 15%;
    bottom: 50%;
  }
  @e bg4 {
    width: 15%;
    right: 0;
    bottom: 30%;
  }
}
