@b cn {
  @e bg2 {
    left: 0;
    top: -400px;
  }
  @e bg3 {
    right: 0;
    top: -300px;
  }
}

@keyframes bgX {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100%;
  }
}

@b hall {
  background-image: url('~assets/img/assemble/cn/mountain1.jpg');
  animation: bgX 5s infinite alternate;
}

@b dining-room {
  background-image: url('~assets/img/assemble/cn/mountain2.jpg');
  animation: bgX 8s infinite alternate;
  background-size: 150%;
  background-position: left center;
}

@b bedroom {
  background-image: url('~assets/img/assemble/cn/mountain3.jpg');
  animation: bgX 8s infinite alternate;
  background-size: 150%;
  background-position: right;
}
