@import '../../tools.css';
@b simple {
  @e sub {
    color: #333;
  }
  @e bg1 {
    right: 0;
    top: 10%;
    width: 15%;
  }
  @e bg2 {
    width: 20%;
    opacity: .5;
  }
  @e bg3 {
    right: 0;
    bottom: -20%;
    opacity: .5;
  }
}
